{% extends 'base.html.twig' %}

{% block title %}Inscription - Accroch'.com{% endblock %}

{% block body %}
    <h1 class="text-bold text-white">Inscription</h1>

    {{ include('Registration/_form.html.twig') }}

{% endblock %}