{% extends 'base.html.twig' %}

{% block title %}Accroch'.com{% endblock %}

{% block body %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="text-light size">Bienvenue chez Accroch'.com</h1>
        <p class="lead"></p>
    </div>

    {% if app.user %}
        <div class="container">
        <div class="card-deck mb-6 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Annonces</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Mes annonces</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                    </ul>
                    
                    <button type="button" class="btn btn-lg btn-block btn-info"><a href="{{ path('announcements_index') }}">Consulter</a></button>
                    
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Boutiques</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Mes boutiques</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info"><a href="{{ path('shop_index') }}">Consulter</a></button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
        <div class="card-deck mb-6 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Nouvelle Annonce</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Annonce</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info"><a href="{{ path('announcements_example') }}">Créer Annonce</a></button>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Nouvelle Boutique</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Boutique</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info"><a href="{{ path('shop_new') }}">Créer Boutique</a></button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
