<form method="post" action="{{ path('marketers_delete', {'id': marketer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marketer.id) }}">
    <button class="btn">Delete</button>
</form>